<br>
<br>
<br>
<div class="row">
  <div class="container">
    <div class="col-md-6 offset-md-3">

      <div class="card text-white bg-info mb-3">

       <div class="text-center">
        <div class="card-title">
          <h3>Alie Store</h3>
        </div>

        <div class="card-body">
          <h4>Se ha enviado un correo de confirmacion a:</h4>
          <br>
          <h5>{{correo}}</h5>
          <button class="btn btn-primary btn-block" (click)="Redireccionar_Login()">
            Ingresar
          </button>
        </div>
       </div>

      </div>

    </div>
</div>
</div>
