<app-nagivation-cliente></app-nagivation-cliente>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card border-info mb-3">
        <div class="card-body">
          <form autocomplete="off">

              <div class="form-group">
                <img src="" class="rounded mx-auto d-block" width="100" height="100">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control"  name="nombre" autofocus>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Apellidos</label>
                <input type="text" class="form-control"  name="apellido">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Direccion</label>
                <textarea name="direccion" name="direccion" rows="1" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Numero</label>
                <input type="number" class="form-control"  name="numero">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Clave</label>
                <input type="password" class="form-control"  name="clave">
              </div>


              <div class="form-group">
                <button class="btn btn-info btn-block" >
                    Guardar Cambios
                </button>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


